<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	
	<!-- Bootstrap core CSS -->
	<link href="../public/homepage/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/homepage/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	
	<!-- Custom fonts for this template -->
	<link href="../public/homepage/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
	
	<!-- Custom styles for this template -->
	<link href="../public/homepage/css/clean-blog.css" th:href="@{/homepage/css/clean-blog.css}" rel="stylesheet" />
	
	<title>Spring MVC Blog</title>
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="index.html">Start Bootstrap</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="post.html">Sample
							Post</a></li>
					<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Header -->
	<header class="masthead"
		style="background-image: url('/homepage/img/home-bg.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Clean Blog</h1>
						<span class="subheading">A Blog Theme by Start Bootstrap</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-preview" th:each="p : ${latest5posts}">
					<a href="post.html" th:href="@{/posts/view/{id}/(id=${p.id})}">
						<h2 class="post-title" th:text="${p.title}" />
						<h3 class="post-subtitle" th:text="${p.subtitle}"></h3>
					</a>
					<p class="post-meta">
						Posted <span th:if="${p.user}" th:remove="tag"> by <a
							href="#"> <span
								th:text="${p.user.fullName != null ? p.user.fullName : p.user.username}"></span>
						</a>
						</span>on <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}"></span>
					</p>
				</div>
				<hr />
				<!-- Pager -->
				<div class="clearfix">
					<a class="btn btn-primary float-right" href="/posts/">Older Posts
						&rarr;</a>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						<li class="list-inline-item"><a href="#"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li class="list-inline-item"><a href="#"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li class="list-inline-item"><a href="#"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-github fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
					</ul>
					<p class="copyright text-muted">Copyright &copy; Your Website
						2017</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/clean-blog.min.js"></script>



	<!--  
	<header th:replace="layout :: site-header"></header>
	<aside>
		<h2>Recent Posts</h2>
		<a href="#" th:each="p : ${latest5posts}" th:text="${p.title}"
			th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>
	</aside>

	<main id="posts">
	<article th:each="p : ${latest3posts}">
		<h2 class="title" th:text="${p.title}">Post Title</h2>
		<div class="date">
			<i>Posted on</i> <span
				th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
			<span th:if="${p.author}" th:remove="tag"> <i>by</i> <span
				th:text="${p.author.fullName != null ?
                        p.author.fullName : p.author.username}">Svetlin
					Nakov</span>
			</span>
		</div>
		<p class="content" th:utext="${p.body}">Post content</p>
	</article>
	</main>

	<footer th:replace="layout :: site-footer"></footer>
	-->
</body>

</html>
